Django==1.6.6
Pillow==2.5.3
South==1.0
boto==2.32.1
dj-database-url==0.3.0
dj-static==0.0.6
django-easy-select2==1.2.7
django-grappelli==2.5.3
django-pylibmc-sasl==0.2.4
django-report-builder==2.0.1
django-report-utils==0.2.6
django-reversion==1.8.2
django-s3-folder-storage==0.2
django-storages==1.1.8
gunicorn==19.1.1
jdcal==1.0
openpyxl==2.0.5
pip-tools==0.3.5
psycopg2==2.5.4
pylibmc==1.2.3
python-dateutil==2.2
six==1.7.3
sorl-thumbnail==11.12
static3==0.5.1
wsgiref==0.1.2
