Django==1.6.2
Pillow==2.3.0
South==0.8.4
boto==2.25.0
dj-database-url==0.2.2
dj-static==0.0.5
django-easy-select2==1.0.2
django-grappelli==2.5.1
django-pylibmc-sasl==0.2.4
django-report-builder==1.14
django-reversion==1.8.0
django-s3-folder-storage==0.2
django-storages==1.1.8
gunicorn==18.0
openpyxl==1.8.3
psycopg2==2.5.2
pylibmc==1.2.3
pystache==0.5.3
python-dateutil==2.2
six==1.5.2
sorl-thumbnail==11.12
static==1.0.2
wsgiref==0.1.2
